<nav class="flex justify-around border-solid border-0 border-b border-zinc-300 dark:border-zinc-800">
  {% for item in site.data.navigation %}
  {% capture href -%}
  {{ item.href | replace: '.md', '' | replace: '.html' '' | replace: 'index' '' }}
  {%- endcapture %}
  
  {% capture page_url -%}
  {{ page.url | replace: '.md', '' | replace: '.html' '' | replace: 'index' '' }}
  {%- endcapture %}

  <a href="{{ href }}" {% if page_url==href %} class="no-underline pointer-events-none" {% endif %}>
    {{ item.name }}
  </a>

  {% endfor %}
</nav>