@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-*: initial;

	--color-white: #efefefef;
	--color-light-shade: #f4f5f4;
	--color-light-accent: #9a5753;
	--color-brand: #79a396;
	--color-dark-shade: #1e1e2a;
	--color-dark-accent: #e1a935;
	--color-black: #1e1e1e;

	--font-sans: 'Manrope', Helvetica, Arial, sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
}

@layer base {
	* {
		scrollbar-width: auto;
		scrollbar-color: var(--color-brand) transparent;

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--color-brand);
			border-radius: 4px;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-button {
			display: none;
		}

		@variant dark {
			scrollbar-color: var(--color-brand) transparent;

			&::-webkit-scrollbar-thumb {
				background-color: var(--color-brand);
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}
		}
	}

	img {
		@apply rounded-xl;
	}

	div:has(> iframe) {
		@apply flex items-center justify-center overflow-hidden rounded-xl aspect-video;
	}

	div > iframe {
		@apply w-full h-full;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	blockquote {
		@apply p-4 my-4 border-s-4 border-brand bg-light-shade/80 dark:bg-dark-shade/80;
	}

	.prose pre > code {
		@apply border-none
	}
}

@layer components {
	.clickable,
	.prose a {
		@apply !transition-colors hover:!text-light-accent dark:hover:!text-dark-accent font-mono;
		position: relative !important;
		display: inline-block !important;
		text-decoration: none !important;
		color: inherit !important;
		cursor: pointer !important;
	}

	.clickable::after,
	.prose a::after {
		@apply !transition-all !bg-light-accent dark:!bg-dark-accent;
		content: '' !important;
		position: absolute !important;
		left: 0 !important;
		bottom: 0 !important;
		width: 0 !important;
		height: 2px !important;
	}

	.clickable:hover::after, .prose a:hover::after {
		width: 100% !important;
	}

	.frosted-glass {
		@apply rounded-sm;
		backdrop-filter: blur(10px);
		background-color: rgba(127, 127, 127, 0.1);
		border: 1px solid rgba(127, 127, 127, 0.2);
		border-radius: 8px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

		@variant dark {
			background-color: rgba(200, 200, 200, 0.1);
			border: 1px solid rgba(200, 200, 200, 0.2);
		}
	}
}
