---
import { Icon } from 'astro-icon/components';
import ThemeBtn from './theme-btn.svelte';

const menuItems = [
	{
		name: 'Blog',
		icon: 'lucide:bookmark',
		href: '/blog',
	},
	{
		name: 'Resume',
		icon: 'lucide:file-text',
		href: '/resume',
	},
];
---

<div
	class='fixed z-10 top-0 left-0 w-full sm:w-auto sm:h-full flex sm:flex-col justify-between'>
	<div
		class='m-2 p-2 max-w-8 h-8 frosted-glass flex justify-center items-center'>
		<a
			class='hover:text-light-accent dark:hover:text-dark-accent hover:cursor-pointer transition-colors'
			href='/'
			aria-label='home'>
			<Icon name='lucide:home' />
		</a>
	</div>
	<nav
		class='flex sm:flex-col justify-center items-start frosted-glass m-2 p-2'>
		<ul
			class='list-none h-4 sm:h-auto sm:w-4 overflow-x-visible sm:overflow-x-hidden overflow-y-hidden sm:overflow-y-visible sm:hover:w-24 flex sm:flex-col justify-center items-start space-x-8 sm:space-x-0 sm:space-y-4 transition-all'>
			{
				menuItems.map((mi) => (
					<li class='clickable'>
						<a
							href={mi.href}
							class='flex flex-col sm:flex-row items-center place-self-end sm:space-x-2'>
							<Icon name={mi.icon} />
							<span class='transition-all hidden sm:block lowercase font-mono'>
								{mi.name}
							</span>
						</a>
					</li>
				))
			}
		</ul>
	</nav>
	<ThemeBtn
		class='m-2 p-2 max-w-8 h-8 flex items-center justify-center frosted-glass'
		client:load
	/>
</div>
