---
interface Props {
	tag: string;
	href?: string;
	class?: string;
}

const { tag, href, class: classes } = Astro.props;
---

{
	href && (
		<a
			href={href}
			class='no-underline transition-colors  hover:text-light-accent dark:hover:text-dark-accent'>
			<span class={['frosted-glass p-2 mx-2', classes].join(' ')}>#{tag}</span>
		</a>
	)
}
{
	!href && (
		<span class={['frosted-glass p-2 mx-2', classes].join(' ')}>#{tag}</span>
	)
}
