<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}} | kaptcha_</title>
  <script src="https://kit.fontawesome.com/077c0a44e8.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
  <style type="text/tailwindcss">
    * {
        @apply transition-all
      }
      </style>
  <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/50426223">
  <script defer src="https://cloud.umami.is/script.js" data-website-id="d3beceab-c50f-495d-8d73-66f3e2295e2b"></script>
</head>

<body class="prose prose-zinc bg-zinc-100 p-4 flex flex-col mx-auto">
  <header class="sticky top-0 bg-white/30 backdrop-blur-md p-4 rounded-xl">
    <h1 class="mb-0 text-xl">J'C Kabunga</h1>
    <h2 class="mt-0 text-lg text-zinc-500">kaptcha_</h2>

    {% include navbar.html %}
  </header>

  <main>
    <p>{{ content }}</p>
  </main>

  {% include footer.html %}
</body>

</html>
